.About {
  min-height: 50vh;
  margin: 0 50px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About h1 {
  margin-bottom: 30px;
}
