.header {
  height: 60px;
  background-color: #313b5f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header .nav .logo-box {
  height: 30px;
  display: flex;
  font-size: 20px;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .nav .logo-box span {
  font-size: 30px;
  font-weight: 700;
  color: #2dc5e7;
  display: inline-block;
}
#inder {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.header .nav .logo-box svg {
  height: 30px;
  margin-right: 10px;
}
.header .nav .logo-box span {
  height: 30px;
  margin-right: 10px;
}

.header .nav .links {
  margin-left: auto;
}

.header .nav .links a {
  margin-left: 20px;
  color: white;
}

.header .nav .links a:hover {
  color: rgb(214, 209, 209);
  text-decoration: none;
}

/* dark= #1C2544
  blue = #2DC5E7
  light = #313B5F
*/

@media (max-width: 900px) {
  .header .nav .links a {
    margin-right: 10px;
  }
  .header .nav .logo-box {
    margin-left: 10px;
  }
}
.header .nav .logo-box svg:hover {
  background-color: #2dc5e7;
  border-radius: 50%;
  color: #313b5f;
  border: none;
}
